.DS_Store
node_modules
.turbo
*.log
dist
his-web
dist-ssr
*.local
.cache
stats.html
components.d.ts
.eslintrc-auto-import.*
auto-imports.d.ts
vite.config.ts.timestamp-*
devConfig.ts
.idea/sonarlint
.idea/sonarlint.xml
%SystemDrive%
his-web.zip
.idea
